.idea
.vagrant

temp/
node_modules/
.sass-cache/
.sublime/

# OSX 
*.DS_Store
.elasticbeanstalk/

credentials.coffee

temp/

rev-manifest.json
app/public/css
app/public/holding/css
app/public/data
app/public/js
app/public/html
#app/site/index.html
#app/site/holding.html
#app/site/login.html

doodles/**/*.js
doodles/**/*.css
doodles/**/*.html
doodles/**/*.frag
doodles/**/*.vert
doodles/**/*.vs
doodles/**/*.glsl
doodles/**/*.png
doodles/**/*.jpg
doodles/**/*.gif
doodles/**/*.json
doodles/**/*.mp4
doodles/**/*.mov
doodles/**/*.webm

!doodles/master_manifest.json
!doodles/master_manifest_DEV.json
!doodles/**/manifest.json
