.idea
.vagrant

temp/
node_modules/
.sass-cache/
.sublime/
npm-debug.log

# OSX 
*.DS_Store
.elasticbeanstalk/

credentials.coffee

temp/

rev-manifest.json
app/public/css
app/public/static/img/logos
app/public/static/img/ss
app/public/holding/css
app/public/data
app/public/js
app/public/html
#app/site/index.html
#app/site/holding.html
#app/site/login.html
app/public/static/fonts

doodles/.gitignore