option_settings:
  - option_name: GITHUB_SECRET
    value: PLACEHOLDER_REPLACED_IN_AWS_CONSOLE
  - option_name: GITHUB_REPO_PULL_TOKEN
    value: PLACEHOLDER_REPLACED_IN_AWS_CONSOLE
  - option_name: DEV_PASSWORD
    value: PLACEHOLDER_REPLACED_IN_AWS_CONSOLE
  - option_name: SHORTLINK_HASH_SALT
    value: PLACEHOLDER_REPLACED_IN_AWS_CONSOLE
  - option_name: GOOGLE_ANALYTICS_CODE
    value: PLACEHOLDER_REPLACED_IN_AWS_CONSOLE
  - option_name: DOODLE_DATA_SOURCE
    value: PLACEHOLDER_REPLACED_IN_AWS_CONSOLE
