// base page stylings

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    font-size: 12px;

    // &.page-home {
    //     background: green;
    // }

    // &.page-about {
    //     background: yellow;
    // }

    // &.page-contribute {
    //     background: red;
    // }
}
