.page-doodle {

    &[data-color-scheme="light"] {
        background: $bg-offwhite;

        .doodle-frame {
            background: $bg-offwhite;
        }

        .preloader-dots {

            .dot {
                background: $cd-black;
            }
        }

        .interaction-indicators {

            .indicator {

                &:after {
                    background: $cd-red;
                }

                svg {
                    fill: $cd-black;
                }
            }
        }

        .nav-arrow .nav-arrow__inner,
        .nav-arrow:after,
        .nav-arrow:before {
            background: $cd-black;
        }
    }

    &[data-color-scheme="dark"] {
        background: $cd-black;

        .doodle-frame {
            background: $cd-black;
        }

        .preloader-dots {

            .dot {
                background: #fff;
            }
        }

        .interaction-indicators {

            .indicator {

                &:after {
                    background: $cd-blue;
                }

                svg {
                    fill: #fff;
                }
            }
        }

        .nav-arrow .nav-arrow__inner,
        .nav-arrow:after,
        .nav-arrow:before {
            background: #fff;
        }
    }

    .doodle-frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: all .3s $easeInOutExpo;

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }

    .preloader-dots {
        z-index: 0;
    }

    .footer-nav {

        .arrow {
            position: fixed;
            z-index: 2;
            bottom: $site-padding-desktop;
            display: none;
            cursor: pointer;
            transition: all .3s $easeInOutExpo;

            .no-touch & {

                &:hover {
                    width: 40px;
                }
            }

            &.show {
                display: block;
            }

            &.arrow-left {
                left: $site-padding-desktop;
                transform: rotate(180deg);
            }

            &.arrow-right {
                right: $site-padding-desktop;
            }
        }
    }

    .interaction-indicators {
        display: inline-block;
        position: fixed;
        bottom: $site-padding-desktop;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2;
        pointer-events: none;

        .indicator {
            position: relative;
            margin-right: 20px;

            &:after {
                content: '';
                display: none;
                position: absolute;
                width: 40px;
                height: 2px;
                transform: rotate(45deg);
            }

            &[disabled] {

                &:after {
                    display: block;
                }
            }

            svg {
                fill: #fff;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .indicator-mouse {
            top: 8px;

            &:after {
                top: -7px;
                left: 6px;
            }

            svg {
                width: 50px;
            }
        }

        .indicator-keyboard {

            &:after {
                top: 0;
                left: -7px;
            }

            svg {
                width: 27px;
            }
        }

        .indicator-touch {
            top: 7px;

            &:after {
                top: -7px;
                left: 7px;
            }

            svg {
                width: 50px;
            }
        }
    }
}
