
#site-header {
    font-family: $ff-monosten-a;

    .logo,
    .site-nav,
    .close-btn,
    .info-btn {
        position: fixed;
        z-index: 10;
    }

    .logo__link,
    .site-nav__link,
    .info-btn,
    .close-btn {
        @include font-size(1.5);
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 0.6px;
        color: $bg-offwhite;
    }

    [data-codetext-char] {
        padding-bottom: 2px;
        color: $bg-offwhite;
        border-bottom: 2px solid $bg-offwhite;

        &[data-codetext-char-state="white"] {
            color: #fff;
            border-bottom: 2px solid #fff;
        }

        &[data-codetext-char-state="red"] {
            color: $cd-red;
            border-bottom: 2px solid $cd-red;
        }

        &[data-codetext-char-state="blue"] {
            color: $cd-blue;
            border-bottom: 2px solid $cd-blue;
        }
    }

    .logo {
        top: 50%;
        left: 25px;
        transform: translate(-50%, -50%) rotate(90deg);
    }

    .site-nav,
    .info-btn {
        top: 50%;
        right: 25px;
        transform: translate(50%, -50%) rotate(90deg);
    }

    .site-nav__link {
        margin-right: 15px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .close-btn {
        top: 25px;
        right: 25px;
        transform: translate(50%, 50%) rotate(90deg);
    }

    .info-btn {
        display: none;
    }

    // &[data-section="home"],
    // &[data-section="about"],
    // &[data-section="contribute"] {

    //     .logo__link,
    //     .site-nav__link,
    //     .close-btn {
    //         color: $cd-red;
    //         border-color: $cd-red;
    //     }        
    // }

    &[data-section="_"] {

        .site-nav {
            display: none;
        }

        .info-btn {
            display: block;
        }
    }
}
