<!DOCTYPE html>
<html class="no-js" lang="en-gb">
<head>
    <meta content="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="google" value="notranslate">
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <title><%= page_title %></title>

    <meta name="description" content="Creative code sketches">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />

    <link id="favicon" rel="shortcut icon" href="/holding/static/img/icons/favicon/favicon_red.png" type="image/x-icon"/>

    <link rel="stylesheet" href="/holding/css/main.css">

</head>

<body>

    <div id="preloader" class="show-preloader">
        <span class="preloader__text-outer" data-codeword data-codeword-initial-state="white">codedoodl.es</span>
        <a class="twitter-link" href="http://twitter.com/codedoodl_es">(<span>twitter</span>)</a>
    </div>

    <script type="text/javascript">

        window.config = {
            GA_code    : "",
            base_url   : "<%= config.BASE_URL %>"
        };

    </script>

    <noscript>
        <p>Sorry, JavaScript be needed</p>
    </noscript>

</body>
</html>
