<!DOCTYPE html>
<html class="no-js" lang="en-gb">
<head>
	<meta content="content-type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="google" value="notranslate">
	<meta name="google-site-verification" content="Tf6pXNxCNnw4kVu0JYhSYGn8QOaFN6N9eDLjgyoGPUg" />
	<meta name="robots" content="index, follow">
	<title><%= page_title %></title>

	<meta name="description" content="<%= meta_data.meta_description %>">
	<meta name="keywords" content="<%= meta_data.meta_keywords %>">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link id="favicon" rel="shortcut icon" href="<%= config.ASSETS_BUCKET_URL %>/static/img/icons/favicon/favicon_red.png" type="image/x-icon"/>

	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= config.ASSETS_BUCKET_URL %>/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= config.ASSETS_BUCKET_URL %>/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= config.ASSETS_BUCKET_URL %>/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="<%= config.ASSETS_BUCKET_URL %>/apple-touch-icon-57x57-precomposed.png">

	<meta property="og:title"         content="<%= meta_data.og_title %>">
	<meta property="og:url"           content="<%= meta_data.og_url %>">
	<meta property="og:image"         content="<%= meta_data.og_image %>">
	<meta property="og:description"   content="<%= meta_data.og_description %>">
	<meta property="og:site_name"     content="<%= meta_data.og_site_name %>">

	<meta name="twitter:card"         content="<%= meta_data.twitter_card_card %>">
	<meta name="twitter:site"         content="<%= meta_data.twitter_card_site %>">
	<meta name="twitter:creator"      content="<%= meta_data.twitter_card_site %>">
	<meta name="twitter:url"          content="<%= meta_data.twitter_card_url %>">
	<meta name="twitter:title"        content="<%= meta_data.twitter_card_title %>">
	<meta name="twitter:description"  content="<%= meta_data.twitter_card_description %>">
	<meta name="twitter:image"        content="<%= meta_data.twitter_card_image %>">
	<meta name="twitter:image:width"  content="300">
	<meta name="twitter:image:height" content="300">

	<link rel="stylesheet" href="<%= config.ASSETS_BUCKET_URL %>/css/main.css">

</head>

<body>

	<div id="preloader" class="show-preloader">
		<span class="preloader-dots" data-dots><i class="dot dot-1"></i><i class="dot dot-2"></i><i class="dot dot-3"></i></span>
		<span class="preloader__text-outer" data-codeword data-codeword-initial-state="white-no-border">codedoodl.es</span>
		<span class="preloader__bg preloader__bg-1" data-bg="1"></span><span class="preloader__bg preloader__bg-2" data-bg="2"></span>
	</div>

	<script type="text/javascript">

		window.config = {
			GA_code       : "<%= config.GA_CODE %>",
			hostname      : document.location.protocol + "//" + document.location.host,
			base_url      : "<%= config.BASE_URL %>",
			assets_url    : "<%= config.ASSETS_BUCKET_URL %>",
			doodles_url   : "<%= config.DOODLES_BUCKET_URL %>",
			extension_url : "<%= config.EXTERNAL_URLS.extension %>",
			localeCode    : "en-gb",
			routes        : <%- JSON.stringify(config.routes) %>,
			assets        : {
				templates : "/data/templates.xml",
				locales   : "/data/locales/strings.json",
				tracking  : "/data/tracking.json"
			}
		};

	</script>

	<script src="<%= config.ASSETS_BUCKET_URL %>/js/vendor/v.js"></script>
	<script src="<%= config.ASSETS_BUCKET_URL %>/js/main.js"></script>

	<script>
		if (window.config.GA_code) {
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', window.config.GA_code, 'auto');
			ga('send', 'pageview');
		}
	</script>

	<noscript>
		<p>Sorry, JavaScript be needed</p>
	</noscript>

</body>
</html>
