@charset "UTF-8";
/*
 * VARIABLES
 */
/*
 * GLOBAL SASS VARIABLES GO HERE
 */
/*
 * Paths
 */
/*
 * colours
 */
/*
 * layout-related
 */
/*
 * Media queries breakpoints
 */
/*
 * HELPERS / MIXINS / LIBS / RESETS
 */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* REM font sizing from http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/ */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/**
 * Mixin scrollbar
 */
/**
 * Call the damn thing
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==|== HELPER CLASSES =====================================================
   helping out
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.helperhidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/* some neil added */
.unstyled {
  padding: 0;
  margin: 0;
  list-style-type: none; }

/*
 * ------------------
 *  Responsive Mixin
 * ------------------
 *
 *  @author : Fábio Azevedo <fabio.azevedo@unit9.com> UNIT9
 *  @date   : September 14
 *
 *  Instructions:
 *
 *      1. Set-up a global variable called $breakpoints:
 *
 *          $breakpoints: (
 *              small         'all and ( max-width: 640px )',
 *              medium        'all and ( min-width: 640px ) and ( max-width: 1024px )',
 *              large         'all and ( min-width: 1025px ) and ( max-width: 1440px )',
 *              extra-large   'all and ( min-width: 1441px )'
 *            );
 *
 *      2. Mixin respond-to accepts a list as parameter, which means
 *         you can include more than one breakpoint, so some examples of usage:
 *
 *          @include respond-to( (small) );
 *          Or
 *          @include respond-to( (small medium) );
 */
/*
 * Private functions
 *
 * TODO:
 *   - As soon gulp-suss is updated and uses new sass compiler version,
 *     this functions can be replaced by maps methods.
 */
/*
 * Public mixin
 */
/*
 * ---------------------
 *  Media Query Manager
 * ---------------------
 * 
 *  Intructions:
 *
 */
body:after {
  display: none; }
  @media all and ( max-width: 640px ) {
    body:after {
      content: 'small'; } }
  @media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body:after {
      content: 'ipad'; } }
  @media all and ( min-width: 640px ) and ( max-width: 1023px ) {
    body:after {
      content: 'medium'; } }
  @media all and ( min-width: 1024px ) and ( max-width: 1440px ) {
    body:after {
      content: 'large'; } }
  @media all and ( min-width: 1441px ) {
    body:after {
      content: 'extra-large'; } }

/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  *font-size: 100%; }

legend {
  color: #000; }

#yui3-css-stamp.cssreset {
  display: none; }

/*
 * CUSTOM UTILS
 */
[data-codeword] {
  position: relative; }

[data-codetext-char] {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  color: transparent;
  border-bottom: 2px solid transparent; }
  [data-codetext-char][data-codetext-char-state="white"] {
    color: #fff;
    border-bottom: 2px solid #fff; }
  [data-codetext-char][data-codetext-char-state="offwhite"] {
    color: #F1F1F3;
    border-bottom: 2px solid #F1F1F3; }
  [data-codetext-char][data-codetext-char-state="red"] {
    color: #EB423E;
    border-bottom: 2px solid #EB423E; }
  [data-codetext-char][data-codetext-char-state="blue"] {
    color: #395CAA;
    border-bottom: 2px solid #395CAA; }

/*
 * ICONS
 */
.ss-frown, .ss-smile {
  background-image: url(../static/img/ss/ss-icons.svg);
  background-repeat: no-repeat; }

.ss-frown {
  background-position: 0 0;
  width: 114px;
  height: 90px; }

.ss-smile {
  background-position: 0 -90px;
  width: 114px;
  height: 90px; }

/*
 * FONTS
 */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 14, 2015 */
@font-face {
  font-family: 'monostena';
  src: url('../static/fonts/Monosten-A-webfont.eot');
  src: url('../static/fonts/Monosten-A-webfont.eot?#iefix') format('embedded-opentype'), url('../static/fonts/Monosten-A-webfont.woff2') format('woff2'), url('../static/fonts/Monosten-A-webfont.woff') format('woff'), url('../static/fonts/Monosten-A-webfont.ttf') format('truetype'), url('../static/fonts/Monosten-A-webfont.svg#monostena') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'monostenb';
  src: url('../static/fonts/Monosten-B-webfont.eot');
  src: url('../static/fonts/Monosten-B-webfont.eot?#iefix') format('embedded-opentype'), url('../static/fonts/Monosten-B-webfont.woff2') format('woff2'), url('../static/fonts/Monosten-B-webfont.woff') format('woff'), url('../static/fonts/Monosten-B-webfont.ttf') format('truetype'), url('../static/fonts/Monosten-B-webfont.svg#monostenb') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'monostenf';
  src: url('../static/fonts/Monosten-F-webfont.eot');
  src: url('../static/fonts/Monosten-F-webfont.eot?#iefix') format('embedded-opentype'), url('../static/fonts/Monosten-F-webfont.woff2') format('woff2'), url('../static/fonts/Monosten-F-webfont.woff') format('woff'), url('../static/fonts/Monosten-F-webfont.ttf') format('truetype'), url('../static/fonts/Monosten-F-webfont.svg#monostenf') format('svg');
  font-weight: normal;
  font-style: normal; }

/*
 * VENDORS
 */
/*
 * CORE
 */
/*

GLOBALS / BASE STYLES

 */
::-moz-selection {
  background: grey;
  color: #fff;
  text-shadow: none; }

::selection {
  background: grey;
  color: #fff;
  text-shadow: none; }

button {
  outline: none;
  cursor: pointer;
  border: 0 none;
  background: none; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-size: 62.5%;
  /* Sets up the Base 10 REM sizing stuff */
  min-height: 100%;
  height: 100%;
  font-family: 'monostenf', 'Consolas', 'monospace'; }

body {
  color: #000;
  background: #F1F1F3;
  width: 100%; }
  body .disable-hover {
    pointer-events: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

p {
  font-size: 10px;
  font-size: 1rem; }

a {
  color: blue; }
  a:focus {
    outline: none; }

input, button, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  background: none;
  border-radius: 0; }
  input.placeholder, button.placeholder, textarea.placeholder {
    color: #aaa; }

/*
 * MISC
 */
.no-js noscript {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  text-align: center; }

/*
 * VIEWS
 */
#preloader {
  color: #EB423E;
  background: #EB423E;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 50;
  overflow: hidden;
  transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  opacity: 0;
  visibility: hidden; }
  #preloader.show-preloader {
    opacity: 1;
    visibility: visible; }
  #preloader .preloader__text-outer {
    font-size: 15px;
    font-size: 1.5rem;
    letter-spacing: 0.6px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-family: 'monostena', 'Consolas', 'monospace';
    z-index: 2; }
  #preloader .preloader__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0); }
    #preloader .preloader__bg.preloader__bg-1 {
      background: #395CAA;
      z-index: 0; }
    #preloader .preloader__bg.preloader__bg-2 {
      background: #F1F1F3;
      z-index: 1; }
  #preloader [data-codetext-char].hide-border {
    border-color: transparent; }
  #preloader .dots {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10; }
    #preloader .dots .dot {
      display: inline-block;
      width: 3px;
      height: 3px;
      background: #fff;
      margin-right: 3px;
      opacity: 0; }
      #preloader .dots .dot:last-child {
        margin-right: 0; }
    #preloader .dots .dot-1 {
      -webkit-animation: dot-1-anim 1s infinite;
              animation: dot-1-anim 1s infinite;
      -webkit-animation-timing-function: steps(1, end);
              animation-timing-function: steps(1, end); }
    #preloader .dots .dot-2 {
      -webkit-animation: dot-2-anim 1s infinite;
              animation: dot-2-anim 1s infinite;
      -webkit-animation-timing-function: steps(1, end);
              animation-timing-function: steps(1, end); }
    #preloader .dots .dot-3 {
      -webkit-animation: dot-3-anim 1s infinite;
              animation: dot-3-anim 1s infinite;
      -webkit-animation-timing-function: steps(1, end);
              animation-timing-function: steps(1, end); }

@-webkit-keyframes dot-1-anim {
  0% {
    opacity: 0; }

  20% {
    opacity: 1; } }

@keyframes dot-1-anim {
  0% {
    opacity: 0; }

  20% {
    opacity: 1; } }

@-webkit-keyframes dot-2-anim {
  0% {
    opacity: 0; }

  40% {
    opacity: 1; } }

@keyframes dot-2-anim {
  0% {
    opacity: 0; }

  40% {
    opacity: 1; } }

@-webkit-keyframes dot-3-anim {
  0% {
    opacity: 0; }

  60% {
    opacity: 1; } }

@keyframes dot-3-anim {
  0% {
    opacity: 0; }

  60% {
    opacity: 1; } }

#site-header {
  font-family: 'monostena', 'Consolas', 'monospace'; }
  #site-header .logo, #site-header .site-nav, #site-header .close-btn {
    position: fixed;
    z-index: 10; }
  #site-header .logo__link, #site-header .site-nav__link, #site-header .close-btn {
    font-size: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.6px;
    color: #F1F1F3; }
  #site-header .logo {
    top: 50%;
    left: 25px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
        -ms-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg); }
  #site-header .site-nav {
    top: 50%;
    right: 25px;
    -webkit-transform: translate(50%, -50%) rotate(90deg);
        -ms-transform: translate(50%, -50%) rotate(90deg);
            transform: translate(50%, -50%) rotate(90deg); }
  #site-header .site-nav__link {
    margin-right: 15px; }
    #site-header .site-nav__link:last-of-type {
      margin-right: 0; }
  #site-header .close-btn {
    top: 25px;
    right: 25px;
    -webkit-transform: translate(50%, 50%) rotate(90deg);
        -ms-transform: translate(50%, 50%) rotate(90deg);
            transform: translate(50%, 50%) rotate(90deg); }

#site-footer {
  font-size: 12px; }

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  font-size: 12px; }
  .page i {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 400px; }

.page-home {
  background: #F1F1F3;
  position: relative; }

.home-grid {
  margin: 0 auto;
  padding: 25px 0;
  max-width: 1080px;
  width: 90%; }

.home-grid-item {
  display: inline-block;
  position: relative;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  opacity: 0; }
  .home-grid-item:nth-of-type(5n) {
    margin-right: 0; }
  .home-grid-item.show-item .grid-item-lines {
    opacity: 1;
    visibility: visible;
    height: 16px;
    -webkit-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
            transform: translate(0, -15px); }
  .no-touch .home-grid-item:hover .grid-item-thumb-holder, .no-touch .home-grid-item.hovered .grid-item-thumb-holder {
    border-radius: 6px;
    -webkit-transform: scale(0.75) rotate(45deg) translate(-50%, -50%);
        -ms-transform: scale(0.75) rotate(45deg) translate(-50%, -50%);
            transform: scale(0.75) rotate(45deg) translate(-50%, -50%); }
  .no-touch .home-grid-item:hover .grid-item-thumb-cover, .no-touch .home-grid-item.hovered .grid-item-thumb-cover {
    opacity: 0.5;
    visibility: visible; }
  .no-touch .home-grid-item:hover .grid-item-thumb, .no-touch .home-grid-item.hovered .grid-item-thumb {
    opacity: 1;
    visibility: visible; }
  .no-touch .home-grid-item:hover .grid-item-arrow, .no-touch .home-grid-item.hovered .grid-item-arrow {
    opacity: 1;
    visibility: visible;
    width: 85%; }
  .home-grid-item .grid-item-link {
    display: block;
    text-decoration: none; }
  .home-grid-item .grid-item-thumb-holder {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 100px;
    display: block;
    background: #EB423E;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
        -ms-transform: rotate(45deg) translate(-50%, -50%);
            transform: rotate(45deg) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    transition: all .5s cubic-bezier(1, 0, 0, 1);
    border-radius: 50%;
    overflow: hidden; }
  .home-grid-item .grid-item-thumb-cover, .home-grid-item .grid-item-thumb {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
        -ms-transform: rotate(-45deg) translate(-50%, -50%);
            transform: rotate(-45deg) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    transition: all .5s cubic-bezier(1, 0, 0, 1);
    opacity: 0;
    visibility: hidden; }
  .home-grid-item .grid-item-thumb-cover {
    z-index: 1;
    background: #395CAA; }
  .home-grid-item .grid-item-thumb {
    -webkit-filter: brightness(0.8) contrast(2.5);
            filter: brightness(0.8) contrast(2.5);
    background: url(https://placeimg.com/300/300/any) no-repeat center center;
    background-size: cover;
    z-index: 0; }
  .home-grid-item .grid-item-lines {
    position: absolute;
    z-index: 2;
    top: 190px;
    height: 0;
    border-top: 2px solid #395CAA;
    border-bottom: 2px solid #395CAA;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  .home-grid-item .grid-item-title {
    color: #395CAA;
    font-size: 13px;
    font-size: 1.3rem;
    margin-top: 210px;
    padding-left: 20px;
    position: relative; }
    .home-grid-item .grid-item-title:after {
      content: '-';
      position: absolute;
      top: 0;
      left: 5px; }
    .home-grid-item .grid-item-title [data-codetext-char] {
      border: none; }
  .home-grid-item .grid-item-number {
    position: absolute;
    top: -4px;
    left: 0;
    font-size: 60px;
    font-size: 6rem;
    line-height: 1;
    z-index: 3;
    color: #395CAA; }
    .home-grid-item .grid-item-number .index-char-nonzero {
      font-family: 'monostena', 'Consolas', 'monospace'; }
    .home-grid-item .grid-item-number .index-char-zero {
      font-family: 'monostenb', 'Consolas', 'monospace'; }
  .home-grid-item .grid-item-arrow {
    position: absolute;
    bottom: -15px;
    left: 5px;
    background: #EB423E;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0.2s;
    height: 2px;
    width: 10px;
    opacity: 0;
    visibility: hidden; }
    .home-grid-item .grid-item-arrow:after, .home-grid-item .grid-item-arrow:before {
      content: '';
      background: #EB423E;
      position: absolute;
      right: 0;
      top: 0;
      height: 2px;
      width: 10px; }
    .home-grid-item .grid-item-arrow:after {
      -webkit-transform-origin: right bottom;
          -ms-transform-origin: right bottom;
              transform-origin: right bottom;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .home-grid-item .grid-item-arrow:before {
      -webkit-transform-origin: right top;
          -ms-transform-origin: right top;
              transform-origin: right top;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.page-doodle {
  background: #395CAA; }
  .page-doodle .interaction-indicators {
    display: inline-block;
    position: fixed;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
    .page-doodle .interaction-indicators .indicator {
      position: relative;
      margin-right: 20px; }
      .page-doodle .interaction-indicators .indicator svg {
        fill: #fff; }
      .page-doodle .interaction-indicators .indicator:last-child {
        margin-right: 0; }
    .page-doodle .interaction-indicators .indicator-mouse {
      top: 8px; }
      .page-doodle .interaction-indicators .indicator-mouse svg {
        width: 50px; }
    .page-doodle .interaction-indicators .indicator-keyboard svg {
      width: 27px; }
    .page-doodle .interaction-indicators .indicator-touch {
      top: 7px; }
      .page-doodle .interaction-indicators .indicator-touch svg {
        width: 50px; }

.page-about {
  color: #fff;
  background: #111111; }

.page-contribute {
  color: #fff;
  background: #111111; }
