/*

GLOBALS / BASE STYLES

 */

::-moz-selection { background: #395CAA; color: #fff; text-shadow: none; }
::selection { background: #395CAA; color: #fff; text-shadow: none; }


button {
    outline : none;
    cursor : pointer;
    border : 0 none;
    background: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html
{
    margin: 0;
    padding: 0;
    // lose this - monsten looks better without (on chrome at least)
    // -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-size: 62.5%; /* Sets up the Base 10 REM sizing stuff */
	min-height: 100%;
	height: 100%;
	font-family: $ff-monosten-f;
}

body {
    color: #000;
    background: $bg-offwhite;
    width: 100%;

    &.disable-hover {
	    pointer-events: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

strong {
}

p {
    @include font-size(1);
}

a {
    color: blue;

    &:focus {
    	outline: none;
    }
}

// get rid of these
input,
button,
textarea {
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
	background: none;
	border-radius: 0;
	&.placeholder {
		color: #aaa;
	}
}

/*
 * MISC
 */
.no-js {

	noscript {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 9999;
		text-align: center;
	}
}
