/*
 * GLOBAL SASS VARIABLES GO HERE
 */

/*
 * Paths
 */

$image_folder        : "assets_static/";
$image_retina_folder : "assets/";

/*
 * colours
 */
$cd-red: #EB423E;
$cd-blue: #395CAA;
$cd-black: #111111;
$bg-offwhite: #F1F1F3;

/*
 * layout-related
 */
$site-padding-desktop: 25px;

// grid
$home-grid-width-5: 1080px;
$home-grid-width-4: 860px;
$home-grid-width-3: 640px;
$home-grid-width-2: 420px;
$home-grid-width-1: 200px;
$home-grid-gutter: 20px;

$grid-five-bp: 'all and ( min-width: 1215px )';
$grid-four-bp: 'all and ( min-width: 960px ) and ( max-width: 1214px )';
$grid-three-bp: 'all and ( min-width: 750px ) and ( max-width: 959px )';
$grid-two-bp: 'all and ( min-width: 520px ) and ( max-width: 749px )';
$grid-one-bp: 'all and ( max-width: 519px )';

$home-grid-item-width: 200px;
$home-grid-item-height: 268px;

/*
 * Media queries breakpoints
 */

$breakpoints: (
  small         'all and ( max-width: 640px )',
  ipad          'screen and (min-device-width : 768px) and (max-device-width : 1024px)',
  medium        'all and ( min-width: 640px ) and ( max-width: 1023px )',
  large         'all and ( min-width: 1024px ) and ( max-width: 1440px )',
  extra-large   'all and ( min-width: 1441px )'
);

$MOBILE  : (small medium);
$DESKTOP : (ipad large extra-large);
$IPAD    : (ipad);