/*
 * GLOBAL SASS VARIABLES GO HERE
 */

/*
 * Paths
 */

$image_folder        : "assets_static/";
$image_retina_folder : "assets/";

/*
 * colours
 */

/*
 * layout-related
 */

/*
 * Media queries breakpoints
 */

$breakpoints: (
  small         'all and ( max-width: 640px )',
  ipad          'screen and (min-device-width : 768px) and (max-device-width : 1024px)',
  medium        'all and ( min-width: 640px ) and ( max-width: 1023px )',
  large         'all and ( min-width: 1024px ) and ( max-width: 1440px )',
  extra-large   'all and ( min-width: 1441px )'
);

$MOBILE  : (small medium);
$DESKTOP : (ipad large extra-large);
$IPAD    : (ipad);