/*
 * VARIABLES
 */

@import 'globals';

/*
 * HELPERS / MIXINS / LIBS / RESETS
 */

@import 'utils/easing';
@import 'utils/mixins';
@import 'utils/normalise';
@import 'utils/helpers';
@import 'utils/retina';
@import 'utils/responsive';
@import 'utils/reset';

/*
 * CUSTOM UTILS
 */
@import 'utils/codeWordTransitioner';

/*
 * ICONS
 */

@import 'icons';

/*
 * FONTS
 */

@import 'fonts';

/*
 * VENDORS
 */

/*
 * CORE
 */

@import 'core/core';

/*
 * VIEWS
 */

// components
@import 'views/components/preloader';
@import 'views/components/header';
@import 'views/components/footer';
@import 'views/components/pageTransitioner';
@import 'views/components/arrows';

// pages
@import 'views/pages/base';
@import 'views/pages/home';
@import 'views/pages/doodle';
@import 'views/pages/aboutContribute';
@import 'views/pages/about';
@import 'views/pages/contribute';
