@charset "UTF-8";
/*
 * VARIABLES
 */
/*
 * GLOBAL SASS VARIABLES GO HERE
 */
/*
 * Paths
 */
/*
 * colours
 */
/*
 * layout-related
 */
/*
 * Media queries breakpoints
 */
/*
 * HELPERS / MIXINS / LIBS / RESETS
 */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* REM font sizing from http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/ */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/**
 * Mixin scrollbar
 */
/**
 * Call the damn thing
 */
/* line 45, ../../project/sass/utils/_normalise.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../../project/sass/utils/_normalise.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../../project/sass/utils/_normalise.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 81, ../../project/sass/utils/_normalise.scss */
[hidden] {
  display: none;
}

/* line 94, ../../project/sass/utils/_normalise.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 106, ../../project/sass/utils/_normalise.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 116, ../../project/sass/utils/_normalise.scss */
body {
  margin: 0;
}

/* line 132, ../../project/sass/utils/_normalise.scss */
a:focus {
  outline: thin dotted;
}
/* line 138, ../../project/sass/utils/_normalise.scss */
a:hover, a:active {
  outline: 0;
}

/* line 152, ../../project/sass/utils/_normalise.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 157, ../../project/sass/utils/_normalise.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 162, ../../project/sass/utils/_normalise.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 167, ../../project/sass/utils/_normalise.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 172, ../../project/sass/utils/_normalise.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 177, ../../project/sass/utils/_normalise.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 185, ../../project/sass/utils/_normalise.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 191, ../../project/sass/utils/_normalise.scss */
b,
strong {
  font-weight: bold;
}

/* line 204, ../../project/sass/utils/_normalise.scss */
dfn {
  font-style: italic;
}

/* line 210, ../../project/sass/utils/_normalise.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 226, ../../project/sass/utils/_normalise.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 239, ../../project/sass/utils/_normalise.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 247, ../../project/sass/utils/_normalise.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 262, ../../project/sass/utils/_normalise.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 270, ../../project/sass/utils/_normalise.scss */
small {
  font-size: 80%;
}

/* line 277, ../../project/sass/utils/_normalise.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 285, ../../project/sass/utils/_normalise.scss */
sup {
  top: -0.5em;
}

/* line 289, ../../project/sass/utils/_normalise.scss */
sub {
  bottom: -0.25em;
}

/* line 341, ../../project/sass/utils/_normalise.scss */
img {
  border: 0;
}

/* line 350, ../../project/sass/utils/_normalise.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 360, ../../project/sass/utils/_normalise.scss */
figure {
  margin: 0;
}

/* line 377, ../../project/sass/utils/_normalise.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 388, ../../project/sass/utils/_normalise.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 402, ../../project/sass/utils/_normalise.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 417, ../../project/sass/utils/_normalise.scss */
button,
input {
  line-height: normal;
}

/* line 427, ../../project/sass/utils/_normalise.scss */
button,
select {
  text-transform: none;
}

/* line 440, ../../project/sass/utils/_normalise.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 453, ../../project/sass/utils/_normalise.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 463, ../../project/sass/utils/_normalise.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 476, ../../project/sass/utils/_normalise.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 486, ../../project/sass/utils/_normalise.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 495, ../../project/sass/utils/_normalise.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 504, ../../project/sass/utils/_normalise.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 515, ../../project/sass/utils/_normalise.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==|== HELPER CLASSES =====================================================
   helping out
   ========================================================================== */
/*
 * Image replacement
 */
/* line 9, ../../project/sass/utils/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 17, ../../project/sass/utils/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 28, ../../project/sass/utils/_helpers.scss */
.helperhidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 37, ../../project/sass/utils/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 53, ../../project/sass/utils/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 67, ../../project/sass/utils/_helpers.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 83, ../../project/sass/utils/_helpers.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 89, ../../project/sass/utils/_helpers.scss */
.cf:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 98, ../../project/sass/utils/_helpers.scss */
.cf {
  *zoom: 1;
}

/* some neil added */
/* line 105, ../../project/sass/utils/_helpers.scss */
.unstyled {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*
 * ------------------
 *  Responsive Mixin
 * ------------------
 *
 *  @author : Fábio Azevedo <fabio.azevedo@unit9.com> UNIT9
 *  @date   : September 14
 *
 *  Instructions:
 *
 *      1. Set-up a global variable called $breakpoints:
 *
 *          $breakpoints: (
 *              small         'all and ( max-width: 640px )',
 *              medium        'all and ( min-width: 640px ) and ( max-width: 1024px )',
 *              large         'all and ( min-width: 1025px ) and ( max-width: 1440px )',
 *              extra-large   'all and ( min-width: 1441px )'
 *            );
 *
 *      2. Mixin respond-to accepts a list as parameter, which means
 *         you can include more than one breakpoint, so some examples of usage:
 *
 *          @include respond-to( (small) );
 *          Or
 *          @include respond-to( (small medium) );
 */
/*
 * Private functions
 *
 * TODO:
 *   - As soon gulp-suss is updated and uses new sass compiler version,
 *     this functions can be replaced by maps methods.
 */
/*
 * Public mixin
 */
/*
 * ---------------------
 *  Media Query Manager
 * ---------------------
 * 
 *  Intructions:
 *
 */
/* line 119, ../../project/sass/utils/_responsive.scss */
body:after {
  display: none;
}
@media all and (max-width: 640px) {
  /* line 119, ../../project/sass/utils/_responsive.scss */
  body:after {
    content: "small";
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 119, ../../project/sass/utils/_responsive.scss */
  body:after {
    content: "ipad";
  }
}
@media all and (min-width: 640px) and (max-width: 1023px) {
  /* line 119, ../../project/sass/utils/_responsive.scss */
  body:after {
    content: "medium";
  }
}
@media all and (min-width: 1024px) and (max-width: 1440px) {
  /* line 119, ../../project/sass/utils/_responsive.scss */
  body:after {
    content: "large";
  }
}
@media all and (min-width: 1441px) {
  /* line 119, ../../project/sass/utils/_responsive.scss */
  body:after {
    content: "extra-large";
  }
}

/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
/* line 2, ../../project/sass/utils/_reset.scss */
html {
  color: #000;
  background: #FFF;
}

/* line 2, ../../project/sass/utils/_reset.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 2, ../../project/sass/utils/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../../project/sass/utils/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 2, ../../project/sass/utils/_reset.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 2, ../../project/sass/utils/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 2, ../../project/sass/utils/_reset.scss */
caption, th {
  text-align: left;
}

/* line 2, ../../project/sass/utils/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 2, ../../project/sass/utils/_reset.scss */
q:before, q:after {
  content: '';
}

/* line 2, ../../project/sass/utils/_reset.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 2, ../../project/sass/utils/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 2, ../../project/sass/utils/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 2, ../../project/sass/utils/_reset.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 2, ../../project/sass/utils/_reset.scss */
input, textarea, select {
  *font-size: 100%;
}

/* line 2, ../../project/sass/utils/_reset.scss */
legend {
  color: #000;
}

/* line 2, ../../project/sass/utils/_reset.scss */
#yui3-css-stamp.cssreset {
  display: none;
}

/*
 * ICONS
 */
/* line 2, ../../project/sass/icons.scss */
.ss-frown, .ss-smile {
  background-image: url(../static/img/ss/ss-icons.svg);
  background-repeat: no-repeat;
}

/* line 6, ../../project/sass/icons.scss */
.ss-frown {
  background-position: 0 0;
  width: 114px;
  height: 90px;
}

/* line 12, ../../project/sass/icons.scss */
.ss-smile {
  background-position: 0 -90px;
  width: 114px;
  height: 90px;
}

/*
 * FONTS
 */
/*
 * VENDORS
 */
/*
 * CORE
 */
/*

GLOBALS / BASE STYLES

 */
/* line 7, ../../project/sass/core/core.scss */
::-moz-selection {
  background: grey;
  color: #fff;
  text-shadow: none;
}

/* line 8, ../../project/sass/core/core.scss */
::-moz-selection {
  background: grey;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: grey;
  color: #fff;
  text-shadow: none;
}

/* line 11, ../../project/sass/core/core.scss */
button {
  outline: none;
  cursor: pointer;
  border: 0 none;
  background: none;
}

/* line 18, ../../project/sass/core/core.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 24, ../../project/sass/core/core.scss */
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-size: 62.5%;
  /* Sets up the Base 10 REM sizing stuff */
  min-height: 100%;
  height: 100%;
}

/* line 35, ../../project/sass/core/core.scss */
body {
  color: #000;
  background: #fff;
  width: 100%;
}

/* line 41, ../../project/sass/core/core.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 48, ../../project/sass/core/core.scss */
p {
  font-size: 10px;
  font-size: 1rem;
}

/* line 52, ../../project/sass/core/core.scss */
a {
  color: blue;
}
/* line 55, ../../project/sass/core/core.scss */
a:focus {
  outline: none;
}

/* line 61, ../../project/sass/core/core.scss */
input,
button,
textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  background: none;
  border-radius: 0;
}
/* line 68, ../../project/sass/core/core.scss */
input.placeholder,
button.placeholder,
textarea.placeholder {
  color: #aaa;
}

/*
 * MISC
 */
/* line 78, ../../project/sass/core/core.scss */
.no-js noscript {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  text-align: center;
}

/*
 * VIEWS
 */
/*
 *
 *
 *
 *
 * FOR SAKE OF EXAMPLE APPLICATION, DELETE WHEN BEGIN BUILDING APP
 *
 *
 *
 *
 */
/* line 57, ../../project/sass/main.scss */
#site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: red;
  z-index: 1;
  font-size: 12px;
}
/* line 67, ../../project/sass/main.scss */
#site-header .breakpoint {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 73, ../../project/sass/main.scss */
#site-header .breakpoint div {
  display: inline-block;
}
/* line 76, ../../project/sass/main.scss */
#site-header .breakpoint div.l {
  background: white;
  color: black;
  padding: 10px;
}
/* line 82, ../../project/sass/main.scss */
#site-header .breakpoint div.b {
  background: black;
  color: white;
  padding: 10px;
  font-weight: bold;
}

/* line 93, ../../project/sass/main.scss */
#site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: red;
  z-index: 1;
  font-size: 12px;
}

/* line 104, ../../project/sass/main.scss */
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  font-size: 12px;
}
/* line 113, ../../project/sass/main.scss */
.page i {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 400px;
}
/* line 120, ../../project/sass/main.scss */
.page.page-home {
  background: green;
}
/* line 124, ../../project/sass/main.scss */
.page.page-about {
  background: yellow;
}
/* line 128, ../../project/sass/main.scss */
.page.page-contribute {
  background: blue;
}
